name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Android SDK
        uses: android-actions/setup-android@v3
        with:
          api-level: 35
          build-tools: "35.0.0"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Assemble Debug build
        run: ./gradlew :composeApp:assembleDebug
